# Python
__pycache__/
*.pyc
src/__pycache__/

# Virtual environments
.venv/
venv/

# Practice Files
practice/

# VSCode
.vscode/

# Data folder
data/

# PyTorch model/checkpoint files
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# meeting md
RoyMeeting.md